<div ng-controller="accountCtrl" class="account-page">
	<div class="popup-mask" ng-show="errorMsg">
        <div class="popup-section text-center">
            <div class="pad10 mt60" ng-bind="errorTip"></div>
        </div>
    </div>
	<div class="content-page pad20">
		<form name="accountName">
			<div class="text-center">
				<img src="app/images/user.png" class="w110p">
			</div>
			<div class="flex">
				<div class="input-label">Account ID:</div>
				<div class="flex-1 input-text" ng-bind="accountId">
				</div>
			</div>
			<div class="mt10 flex">
				<div class="input-label">WeChat ID:</div>
				<div class="flex-1">
					<input type="text" ng-model="wechat_id" placeholder="WeChat ID">
				</div>
			</div>
			<div class="mt10 flex">
				<div class="input-label">Full Name:</div>
				<div class="flex-1">
					<input type="text" ng-model="real_name" placeholder="Full Name">
				</div>
			</div>
			<div class="mt10 flex">
				<div class="input-label">Company:</div>
				<div class="flex-1">
					<input type="text" ng-model="brokerage_name" placeholder="Company">
				</div>
			</div>
			<div class="mt10 flex">
				<div class="input-label">Cell Phone:</div>
				<div class="flex-1">
					<input type="text" ng-model="cell" placeholder="Cell Phone">
				</div>
			</div>
			<div class="mt10 flex">
				<div class="input-label">Office Phone:</div>
				<div class="flex-1">
					<input type="text" ng-model="office_telephone" placeholder="Office Phone">
				</div>
			</div>
			<div class="mt10 flex">
				<div class="input-label">Reco Number:</div>
				<div class="flex-1">
					<input type="text" ng-model="reco_number" placeholder="Reco Number">
				</div>
			</div>
			<div class="mt20 flex">
				<div class="w110p">Subscribe:</div>
				<div class="input-checkbox" ng-class="{'active': subscribe == 'yes'}" ng-click="checkSubscribe()">
					<div class="checkbox"></div>
				</div>
			</div>
			<div class="mt20 text-center">
				<button ng-click="account()" class="btn btn-small btn-primary">log out</button>
			</div>
			<div id="create"></div>
		</form>
	</div>
</div>