.login-page{
}
.register-page{
	.input-label{
		width: px2rem(130px);
		line-height: px2rem(40px);
		padding-left: 22px;
		&.must{
			background: url('images/star.png') no-repeat;
			background-size: 16px 16px;
			background-position-y: 50%;
		}
	}
	button{
		width: px2rem(110px);
		margin: 0 auto;
	}

	.user-img{
		.info-img{
			width: px2rem(100px);
		}
	}
	.upload-img{
		background-color: inherit;
		padding: 0;
		.add-icon{
			background: url('images/user.png') no-repeat;
			background-size: 100% 100%;
			border: none;
			width: 100%;
			margin-left: 0;
			margin-bottom: 0;
			border-radius: 50%;
			.text{
				.text-sm{
					font-size: px2rem(14px);
				}
			}
		}
		.img-item{
			border: none;
			width: 100%;
			margin-left: 0;
			margin-bottom: 0;
		}
	}
}
.account-page{
	.user-img{
		.info-img{
			width: px2rem(100px);
		}
	}
	.upload-img{
		background-color: inherit;
		padding: 0;
		.add-icon{
			background: url('images/user.png') no-repeat;
			background-size: 100% 100%;
			border: none;
			width: 100%;
			margin-left: 0;
			margin-bottom: 0;
			border-radius: 50%;
			.text{
				.text-sm{
					font-size: px2rem(14px);
				}
			}
		}
		.img-item{
			border: none;
			width: 100%;
			margin-left: 0;
			margin-bottom: 0;
		}
	}
	.input-label{
		width: px2rem(110px);
		line-height: px2rem(40px);
	}
	.input-text{
		line-height: px2rem(40px);
	}
	.w110p{
		width: px2rem(110px);
	}
	.input-checkbox{
		border-radius: px2rem(20px);
		width: px2rem(40px);
		border: 1px solid #BBBBBB;
		background-color: #F0F0F2;
		transition: background 0.5s;
		.checkbox{
			border-radius: 50%;
			background-color: #fff;
			width: px2rem(20px);
			height: px2rem(20px);
			display: inline-block;
			transition: margin 0.5s;
		}
		&.active{
			background-color: #00E266;
			border: 1px solid #00E266;
			.checkbox{
				margin-left: px2rem(20px);
				background-color: #fff;
			}
		}
	}
	button{
		width: px2rem(110px);
		margin: 0 auto;
	}
}
.wechatlogin-page{
	.tip{
		padding: px2rem(60px) px2rem(20px) 0;
		font-size: px2rem(map_get($map-font-size, m));
	}
	.loading{
		font-size: px2rem(map_get($map-font-size, m)) * 2;
	}
}