<div ng-controller="postingCtrl" class="posting-page">
	<div class="popup-mask" ng-show="errorMsg">
        <div class="popup-section text-center">
            <div class="pad10 mt60" ng-bind="errorTip"></div>
        </div>
    </div>
    <div class="select-mask w100" ng-show="showPostType">
		<div class="flex">
			<div class="flex-1"></div>
			<div class="flex-1 right-content">
				<div class="item" ng-click="postType('have')">I have</div>
				<div class="item" ng-click="postType('want')">I want</div>
			</div>
		</div>
    </div>
	<div class="content-page flex">
		<div class="top-section">
			<div class="tab-box">
				<div class="tab-header">
					<div class="tab-item" ng-class="{'active': selectedTab==0}" ng-click="checkTab(0)">New Post</div>
					<div class="tab-item drop_down" ng-class="{'active': selectedTab==1}" ng-click="checkTab(1)">My Post</div>
				</div>
			</div>
		</div>
		<div class="content-section flex-1">
			<div class="section form" ng-show="selectedTab==0">
				<div class="pad20">
					<form name="postForm">
						<div class="mt10 flex">
							<div class="input-label">Post Type:</div>
							<div class="flex-1 flex">
								<div class="type-select" ng-class="{'active': selectedType=='have'}" ng-click="checkType('have')">I have</div>
								<div class="flex-1"></div>
								<div class="type-select" ng-class="{'active': selectedType=='want'}" ng-click="checkType('want')">I want</div>
							</div>
						</div>
						<div class="mt10 flex">
							<div class="input-label">Project Name:</div>
							<div class="flex-1">
								<select ng-model="project" ng-options="optionsProject as optionsProject.value for optionsProject in results.optionsProject">

								</select>
							</div>
						</div>
						<div class="mt10 flex">
							<div class="input-label">Unit Type:</div>
							<div class="flex-1">
								<select ng-model="unit_type" ng-options="key as value for (key, value) in results.optionsUnitType">

								</select>
							</div>
						</div>
						<div class="mt10 flex">
							<div class="input-label">Exposure:</div>
							<div class="flex-1">
								<select ng-model="exposure" ng-options="key as value for (key, value) in results.optionsExposure">

								</select>
							</div>
						</div>
						<div class="mt10 flex" ng-show="selectedType=='have'">
							<div class="input-label">Floor Level:</div>
							<div class="flex-1">
								<input type="tel" ng-model="floor_level" maxlength="4" placeholder="Floor Level">
							</div>
						</div>
						<div class="mt10 flex" ng-show="selectedType=='want'">
							<div class="input-label">Expect Floor Low:</div>
							<div class="flex-1">
								<input type="tel" ng-model="expect_floor_low" maxlength="4" placeholder="Floor low">
							</div>
						</div>
						<div class="mt10 flex" ng-show="selectedType=='want'">
							<div class="input-label">Floor Floor High:</div>
							<div class="flex-1">
								<input type="tel" ng-model="expect_floor_high" maxlength="4" placeholder="Floor high">
							</div>
						</div>
						<div class="mt10 flex">
							<div class="input-label">Price:</div>
							<div class="flex-1">
								<input type="number" ng-model="price" placeholder="Price">
							</div>
						</div>
						<div class="mt10 flex" ng-show="selectedType=='have'">
							<div class="input-label">Coop Rate(%):</div>
							<div class="flex-1">
								<input type="number" ng-model="coop" placeholder="Prefer Coop">
							</div>
						</div>
						<div class="btn-dock mt20">
							<button ng-click="createPost()" class="btn btn-primary">Submit</button>
						</div>
					</form>
				</div>
			</div>
			<div class="section flex" ng-show="selectedTab==1">
				<div class="flex tab-type">
					<div class="w20" ng-click="checkPostUnitType()">Unit Type</div>
					<div class="w20" ng-click="checkPostExposure()">Exposure</div>
					<div class="w20" ng-class="{'upDown': postFloor==0, 'upArrow': postFloor==1, 'downArrow': postFloor==2}" ng-click="postSort('floor', postFloor)">Floor Lv</div>
					<div class="w20" ng-class="{'upDown': postPrice==0, 'upArrow': postPrice==1, 'downArrow': postPrice==2}" ng-click="postSort('price', postPrice)">Price</div>
					<div class="w20" ng-class="{'upDown': postCoop==0, 'upArrow': postCoop==1, 'downArrow': postCoop==2}" ng-click="postSort('coop', postCoop)">Coop</div>
				</div>
				<div class="post-select" ng-show="postUnitType">
					<div class="select-list">
						<div class="select-item" ng-click="postlistData('unitType', 'all')">All</div>
						<div class="select-item" ng-repeat="(key, value) in optionsUnitType" ng-bind="key" ng-click="postlistData('unitType', key)"></div>
					</div>
				</div>
				<div class="post-select" ng-show="postExposure">
					<div class="select-list">
						<div class="select-item" ng-click="postlistData('exposur', 'all')">All</div>
						<div class="select-item" ng-repeat="(key, value) in optionsExposure" ng-bind="key" ng-click="postlistData('exposur', key)"></div>
					</div>
				</div>
				<div class="flex-1 tab-list">
					<div class="tab-item" ng-repeat="post in postList">
						<div class="flex">
							<div class="w55p">
								<img src="app/images/user_small.jpeg" class="w100 pr5">
							</div>
							<div class="flex-1">
								<div class="flex pt5">
									<div class="w120p flex">
										<img src="app/images/home.png" class="icon-home">
										Unit ID:{{post.id}}
									</div>
									<div class="flex-1 flex">
										<img src="app/images/bed.png" class="icon-bed">
										Type:{{post.type}}
									</div>
								</div>
								<div class="flex pt10">
									<div class="w120p flex">
										<img src="app/images/sun.png" class="icon-sun">
										Exposure:{{post.exposure}}
									</div>
									<div class="flex-1 flex">
										<img src="app/images/floor.png" class="icon-floor">
										Floor:{{post.floor}}
									</div>
								</div>
								<div class="flex pt10">
									<div class="w120p flex" ng-show="myPostType == 'have'">
										<img src="app/images/balance.png" class="icon-balance">
										Coop:{{post.coop}}%
									</div>
									<div class="flex-1 flex">
										<img src="app/images/dollar.png" class="icon-dollar">
										Price: {{post.price}}
									</div>
								</div>
							</div>
						</div>
						<div class="flex mt10">
							<div class="flex-1 pt2">
								post time: {{post.time}}
							</div>
							<div class="edit-btn" ng-click="edit(post)">edit</div>
							<div class="edit-btn" ng-click="delete(post)">delete</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>